::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background: #121212;
}

::-webkit-scrollbar-thumb {
    background: #650b8f;
    border-radius: 20px;
    border: 3px solid #121212;
}