body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    background-color: #1e293b;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    padding-top: 115px;
}

html{
    scroll-behavior: smooth;
}
.select-container {
    position: relative;
    width: 160px;
    height: 50px;
    margin: 10px 0;
}

.smooth-select {
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #1e293b;
    color: #fff;
    appearance: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.smooth-select:hover {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
    transform: scale(1.05);
    background-color: #1e293b;
}

.smooth-select option {
    padding: 10px;
    background-color: #3a5074;
    color: #fff;
    font-size: 14px;
}

.smooth-select option:hover {
    background-color: #66afe9;
    color: #fff;
}

.smooth-select option:checked {
    background-color: #66afe9;
    color: #fff;
}

.filter-button {
    background: none;
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 50px;
    width: 50px; 
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.filter-button:hover {
    border-color: #66afe9;
    color: #66afe9;
    transform: translateY(-5px);
}

input {
    width: 160px;
    height: 30px; 
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #1f2937;
    color: #fff;
    font-size: 14px;
    transition: all 0.3s ease;
}

input:hover {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

#username {
    margin: 0;
    font-size: 20px;
    color: #ffffff;
}

#filters {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    padding: 10px 0;
    backdrop-filter: blur(3px);
    z-index: 1000;
}

#filters::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 39%; 
    height: 2px;
    background-color: #ffffff;
}

#resultado {
    flex: 1;
}

.filter-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-subgroup {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-group {
    display: flex;
    align-items: center;
    gap: 10px; 
}

a.button {
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    color: #ccc;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: #1e293b;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

a.button:hover {
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    border-color: #66afe9;
}

p {
    font-size: x-large;
}

@media (max-width: 768px) {
    body {
        padding-top: 280px;
    }

    #filters {
        flex-direction: column;
        gap: 20px;
        padding: 20px 0;
    }

    .filter-group {
        flex-direction: column;
        gap: 20px;
    }

    .filter-subgroup {
        width: 100%;
        justify-content: center;
    }

    .select-container, input {
        width: 60%;
    }

    .filter-button {
        width: 25%;
    }

    #filters::after {
        width: 80%;
    }
}

@media (max-width: 480px) {

    body {
        padding-top: 300px;
    }

    .smooth-select, input {
        font-size: 14px;
    }

    #username {
        font-size: 18px;
    }

    a.button {
        font-size: 14px;
        padding: 8px 16px;
    }
}