body {
    display: flex;
    min-height: 100vh;
    margin: 0;
    background-color: #1e293b;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    padding-top: 115px;
}

html {
    scroll-behavior: smooth;
}

.select-container {
    position: relative;
    width: 160px;
    height: 50px;
    margin: 10px 0;
}

.smooth-select {
    height: 50px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #1e293b;
    color: #fff;
    appearance: none;
    cursor: pointer;
    transition: all 0.3s ease;
}

.smooth-select:hover {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
    transform: scale(1.05);
    background-color: #1e293b;
}

.smooth-select option {
    padding: 10px;
    background-color: #3a5074;
    color: #fff;
    font-size: 14px;
}

.smooth-select option:hover {
    background-color: #66afe9;
    color: #fff;
}

.smooth-select option:checked {
    background-color: #66afe9;
    color: #fff;
}

.filter-button {
    background: none;
    border: 2px solid #ccc;
    border-radius: 5px;
    height: 50px;
    width: 50px;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.filter-button:hover {
    border-color: #66afe9;
    color: #66afe9;
    transform: translateY(-5px);
}

input {
    width: 160px;
    height: 26px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #1f2937;
    color: #fff;
    font-size: 14px;
    transition: all 0.3s ease;
}

input:hover {
    border-color: #66afe9;
    outline: none;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.6);
    transform: scale(1.05);
}

.user-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.user-container:hover {
    color: #66afe9;
}

#username {
    margin: 0;
    font-size: 20px;
    color: #ffffff;
}

#filters {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 20px;
    backdrop-filter: blur(3px);
    z-index: 1000;
}

#filters::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 39%;
    height: 2px;
    background-color: #ffffff;
}

.filter-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

a.button {
    padding: 10px 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    color: #ccc;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    background-color: #1e293b;
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

a.button:hover {
    color: white;
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    border-color: #66afe9;
}

.music {
    display: flex;
    background-color: #ffffff;
    width: 400px;
    height: 250px;
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.music-favourite {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #f1f1f1;
    border-radius: 50%;
}

.music-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

.music-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.music-content p {
    margin: 5px 0;
    color: black;
}

.music-content a {
    color: #66afe9;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 768px) {
    body {
        padding-top: 180px;
    }

    #filters {
        flex-direction: column;
        gap: 10px;
        padding: 10px;
    }

    .filter-group {
        width: 100%;
        justify-content: center;
        gap: 5px;
    }

    .user-group {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }

    .select-container,
    input {
        width: 120px;
    }

    .filter-button {
        width: 55px;
        height: 55px;
        font-size: 25px;
    }

    .smooth-select,
    input {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    body {
        padding-top: 180px;
    }

    .select-container,
    input {
        width: 100px;
    }

    .filter-button {
        width: 50px;
        height: 50px;
        font-size: 25px;
    }

    #username {
        font-size: 16px;
    }

    a.button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

.music {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    width: 400px;
    height: 150px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    position: relative;
    margin: 10px;
}

.music:hover {
    transform: translateY(-5px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
}

.music-favourite {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    background-color: #f1f1f1;
    border-radius: 50%;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.music-favourite:hover {
    background-color: #fad11d;
}

.music-favourite .material-symbols-outlined {
    font-size: 18px;
    color: #333;
    transition: color 0.3s ease;
}

.music-favourite:hover .material-symbols-outlined {
    color: #fff;
}

.music-image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 100px;
    margin-right: 20px;
    border-radius: 10px;
    overflow: hidden;
    background-color: #f1f1f1
}

.music-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.music-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}

.music-content p {
    margin: 3px 0;
    color: #333;
    font-size: 14px;
}

#music-title {
    font-size: 18px;
    font-weight: bold;
    color: #1e293b;
}

#music-artist {
    font-size: 14px;
    color: #666;
}

#music-leanguaje {
    font-size: 12px;
    color: #888;
}

.music-content a {
    color: #66afe9;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
    margin-top: 10px;
    transition: color 0.3s ease;
}

/* Contenedor del loader */
.loader-container {
    position: fixed;
    /* Fijo en la pantalla */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(30, 41, 59, 0.8);
    /* Fondo semitransparente */
    z-index: 1000;
    /* Asegura que esté por encima de todo */
}

/* Estilos del loader */
.wheel-and-hamster {
    --dur: 1s;
    position: relative;
    width: 12em;
    height: 12em;
    font-size: 14px;
}

.wheel,
.hamster,
.hamster div,
.spoke {
    position: absolute;
}

.wheel,
.spoke {
    border-radius: 50%;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.wheel {
    background: radial-gradient(100% 100% at center, hsla(0, 0%, 60%, 0) 47.8%, hsl(0, 0%, 60%) 48%);
    z-index: 2;
}

.hamster {
    animation: hamster var(--dur) ease-in-out infinite;
    top: 50%;
    left: calc(50% - 3.5em);
    width: 7em;
    height: 3.75em;
    transform: rotate(4deg) translate(-0.8em, 1.85em);
    transform-origin: 50% 0;
    z-index: 1;
}

.hamster__head {
    animation: hamsterHead var(--dur) ease-in-out infinite;
    background: hsl(30, 90%, 55%);
    border-radius: 70% 30% 0 100% / 40% 25% 25% 60%;
    box-shadow: 0 -0.25em 0 hsl(30, 90%, 80%) inset,
        0.75em -1.55em 0 hsl(30, 90%, 90%) inset;
    top: 0;
    left: -2em;
    width: 2.75em;
    height: 2.5em;
    transform-origin: 100% 50%;
}

.hamster__ear {
    animation: hamsterEar var(--dur) ease-in-out infinite;
    background: hsl(0, 90%, 85%);
    border-radius: 50%;
    box-shadow: -0.25em 0 hsl(30, 90%, 55%) inset;
    top: -0.25em;
    right: -0.25em;
    width: 0.75em;
    height: 0.75em;
    transform-origin: 50% 75%;
}

.hamster__eye {
    animation: hamsterEye var(--dur) linear infinite;
    background-color: hsl(0, 0%, 0%);
    border-radius: 50%;
    top: 0.375em;
    left: 1.25em;
    width: 0.5em;
    height: 0.5em;
}

.hamster__nose {
    background: hsl(0, 90%, 75%);
    border-radius: 35% 65% 85% 15% / 70% 50% 50% 30%;
    top: 0.75em;
    left: 0;
    width: 0.2em;
    height: 0.25em;
}

.hamster__body {
    animation: hamsterBody var(--dur) ease-in-out infinite;
    background: hsl(30, 90%, 90%);
    border-radius: 50% 30% 50% 30% / 15% 60% 40% 40%;
    box-shadow: 0.1em 0.75em 0 hsl(30, 90%, 55%) inset,
        0.15em -0.5em 0 hsl(30, 90%, 80%) inset;
    top: 0.25em;
    left: 2em;
    width: 4.5em;
    height: 3em;
    transform-origin: 17% 50%;
    transform-style: preserve-3d;
}

.hamster__limb--fr,
.hamster__limb--fl {
    clip-path: polygon(0 0, 100% 0, 70% 80%, 60% 100%, 0% 100%, 40% 80%);
    top: 2em;
    left: 0.5em;
    width: 1em;
    height: 1.5em;
    transform-origin: 50% 0;
}

.hamster__limb--fr {
    animation: hamsterFRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30, 90%, 80%) 80%, hsl(0, 90%, 75%) 80%);
    transform: rotate(15deg) translateZ(-1px);
}

.hamster__limb--fl {
    animation: hamsterFLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30, 90%, 90%) 80%, hsl(0, 90%, 85%) 80%);
    transform: rotate(15deg);
}

.hamster__limb--br,
.hamster__limb--bl {
    border-radius: 0.75em 0.75em 0 0;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 70% 90%, 70% 100%, 30% 100%, 40% 90%, 0% 30%);
    top: 1em;
    left: 2.8em;
    width: 1.5em;
    height: 2.5em;
    transform-origin: 50% 30%;
}

.hamster__limb--br {
    animation: hamsterBRLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30, 90%, 80%) 90%, hsl(0, 90%, 75%) 90%);
    transform: rotate(-25deg) translateZ(-1px);
}

.hamster__limb--bl {
    animation: hamsterBLLimb var(--dur) linear infinite;
    background: linear-gradient(hsl(30, 90%, 90%) 90%, hsl(0, 90%, 85%) 90%);
    transform: rotate(-25deg);
}

.hamster__tail {
    animation: hamsterTail var(--dur) linear infinite;
    background: hsl(0, 90%, 85%);
    border-radius: 0.25em 50% 50% 0.25em;
    box-shadow: 0 -0.2em 0 hsl(0, 90%, 75%) inset;
    top: 1.5em;
    right: -0.5em;
    width: 1em;
    height: 0.5em;
    transform: rotate(30deg) translateZ(-1px);
    transform-origin: 0.25em 0.25em;
}

.spoke {
    animation: spoke var(--dur) linear infinite;
    background: radial-gradient(100% 100% at center, hsl(0, 0%, 60%) 4.8%, hsla(0, 0%, 60%, 0) 5%),
        linear-gradient(hsla(0, 0%, 55%, 0) 46.9%, hsl(0, 0%, 65%) 47% 52.9%, hsla(0, 0%, 65%, 0) 53%) 50% 50% / 99% 99% no-repeat;
}

/* Animaciones */
@keyframes hamster {

    from,
    to {
        transform: rotate(4deg) translate(-0.8em, 1.85em);
    }

    50% {
        transform: rotate(0) translate(-0.8em, 1.85em);
    }
}

@keyframes hamsterHead {

    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(0);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(8deg);
    }
}

@keyframes hamsterEye {

    from,
    90%,
    to {
        transform: scaleY(1);
    }

    95% {
        transform: scaleY(0);
    }
}

@keyframes hamsterEar {

    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(0);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(12deg);
    }
}

@keyframes hamsterBody {

    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(0);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(-2deg);
    }
}

@keyframes hamsterFRLimb {

    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(50deg) translateZ(-1px);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(-30deg) translateZ(-1px);
    }
}

@keyframes hamsterFLLimb {

    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(-30deg);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(50deg);
    }
}

@keyframes hamsterBRLimb {

    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(-60deg) translateZ(-1px);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(20deg) translateZ(-1px);
    }
}

@keyframes hamsterBLLimb {

    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(20deg);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(-60deg);
    }
}

@keyframes hamsterTail {

    from,
    25%,
    50%,
    75%,
    to {
        transform: rotate(30deg) translateZ(-1px);
    }

    12.5%,
    37.5%,
    62.5%,
    87.5% {
        transform: rotate(10deg) translateZ(-1px);
    }
}

@keyframes spoke {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(-1turn);
    }
}

button.button {
    color: #13a1ff;
    font-size: 16px;
    text-align: left;
    background-color: #fff;
    border: none;
}

.card {
    background-color: #2d3748;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    max-width: 600px;
    width: 100%;
}

.titulo {
    font-size: 24px;
    margin-bottom: 10px;
    color: #66afe9;
}

.artista {
    font-size: 18px;
    color: #a0aec0;
    margin-bottom: 10px;
}

.idioma {
    font-size: 16px;
    color: #a0aec0;
    margin-bottom: 20px;
}

.letra {
    font-size: 14px;
    color: #cbd5e0;
    line-height: 1.6;
    white-space: pre-line;
}

#map {
    width: 700px;
    height: 600px;
    min-height: 400px;
    margin-left: 20px;
}

#contenido {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

#resultados {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
}